@font-face {
  font-family: MontserratR;
  src: url(../Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratS;
  src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: MontserratM;
  src: url(../Montserrat/Montserrat-Medium.ttf);
}
body {
	width: 100%;
	height: 10vh;
	margin: 0;
}

footer {
	width: 1441px;
	height: 621px;
	display: flex;
	flex-direction: row;
}

.footer_menu {
	width: 520px;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

p {
	color: white;
}

/*Medium*/
.menu {
	margin: 36px;
	font-family: MontserratM;
	font-size: 16px;	
}

.left {
	width: 719px;
	height: 621px;
	background: #2E2E3B;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*SemiBold*/
h2 {
	color: white;
	font-family: MontserratS;
	font-size: 32px;
}

/*SemiBold*/
.p_semibold {
	font-family: MontserratS;
	font-size: 16px;
}

/*Regular*/
.p_regular {
	font-family: MontserratR;
	font-size: 16px;
}

.logo {
	padding-bottom: 10px;
	padding-top: 20px;
}

.mesenger {
	width: 285px;
	height: 47px;
	display: flex;
	flex-direction: row;
}

.tiktok {
	padding-left: 36px;
	padding-right: 36px;
}

.youtube {
	padding-right: 36px;
}

.p_regular1 {
	font-family: MontserratR;
	font-size: 16px;
	padding-bottom: 43px;
}

.number {
	display: flex;
	flex-direction: row;
}

.p_regular2 {
	font-family: MontserratR;
	font-size: 16px;
	padding-left: 50px;
}