@font-face {
  font-family: MontserratB;
  src: url(../Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratS;
  src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: MontserratM;
  src: url(../Montserrat/Montserrat-Medium.ttf);
}

body {
  width: 100%;
  height: 10vh;
  margin: 0;
}

.back_ground {
  width: 1240px;
  height: 926.15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_place {
  width: 715.9px;
  height: 561px;
}

.h1_bold {
  font-family: MontserratB;
  font-size: 48px;
  color: #2E2E3B;
}

.lusuu {
  width: 715.9px;
  height: 514.95px;
}

.top_place {
  width: 1240px;
  height: 561px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.right_place {
  width: 524px;
  height: 502px;
  background: #F0F8F7;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green_regular {
  width: 333px;
  height: 55px;
  background: #00715D;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 34px;
}

.h2_semibold {
  font-family: MontserratS;
  font-size: 32px;
  color: #F8FCFB;
}

.p_medium {
  width: 480px;
  height: 343px;
  font-family: MontserratM;
  font-size: 16px;
  position: relative;
  top: 50px;
}

.shlypa {
  position: relative;
  bottom: 545px;
  left: 190px;
  transform: rotate(-11.42deg);
}

.circle_orange {
  position: relative;
  bottom: 130px;
  right: 140px;
}

.arrows {
  position: relative;
  top: 42px;
}

/*<!-- //// -->*/

.profili-bottom{
    width: 1240px;
    height: 303px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
}
.little-img{
    width: 300px;
    height: 300px;
}
.first-little-img{
    background-image: url(..//img/Desktop-image11.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-bottom-profili{
    margin-top: 10%;
    width: 257px;
    height: 30px;
    background: #F8FCFB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: MontserratB;
    font-size: 16px;
    border-radius: 5px;
}
.icons-profili{
    width: 55%;
    height: 40px;
    margin-top: 5%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.icon {
    width: 45px;
    height: 45px;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}